amqp==2.3.2
billiard==3.5.0.4
brotlipy==0.7.0
cached-property==1.4.3
celery==4.2.1
decorator==4.3.0
Django==1.10
eventlet==0.24.1
gunicorn==19.9.0
jdcal==1.4
jedi==0.12.1
kombu==4.2.1
pbr==4.1.0
pep8-naming==0.7.0
Pillow==6.2.0
pytz==2018.5
redis==2.10.6
requests==2.19.1
urllib3==1.23
whitenoise==3.3.1

